.root {
  position: relative;
}

.viewport {
  overflow: hidden;
}

.track {
  display: flex;
}

.trackVertical {
  margin-top: calc(var(--spacing, 0.25rem) * -4);
  flex-direction: column;
}

.trackHorizontal {
  margin-left: calc(var(--spacing, 0.25rem) * -4);
}

.item {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

.itemHorizontal {
  padding-left: calc(var(--spacing, 0.25rem) * 4);
}

.itemVertical {
  padding-top: calc(var(--spacing, 0.25rem) * 4);
}

.navButton {
  position: absolute;
  touch-action: manipulation;
  border-radius: 9999px;
}

.navPreviousHorizontal {
  inset-block: 0;
  left: -3rem;
  margin-block: auto;
}

.navNextHorizontal {
  inset-block: 0;
  right: -3rem;
  margin-block: auto;
}

.navPreviousVertical {
  top: -3rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.navNextVertical {
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
